body{
  background-color: whitesmoke;
  background-image: url(./img/tafel-1.jpg);

}

.App{
  display: flex;
  flex-direction: row;
  margin-top: 40px;
}

.SideBar{
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-right: 100px;
  margin-left: 20px;
  color: white;
}

.TodoList{
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 300px;
  color: white;
}
.TodoList #title{
  text-align: center;
}
.TodoList #input{
  display: flex;
  justify-content: center;
}

.Todo{
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  justify-content: center;
}